**Exercise 1: Create a new jupyter notebook called DataScienceEcosystem.ipybn**

**DataScienceEcosystem.ipybn**

**Exercise 2: Create mark down cell with the title of the notebook using H1 style Headings**

# H1: Data Science Tools and Ecosystem

**Exercise 3: Create a mark down cell for an introduction**

Write an introductory sentence about the notebook such as follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Jupyter Notebook
* RStudio
* GitHub

**Exercise 4: Create a markdown cell to list Data Sciences Language**

Start the cell with an over view line such as:

Some of the popular Languages that Data Scientists use are:

**Order List**
1. JavaScript
2. Python
3. C++
4. Java
5. Scala
6. Python
7. R
8. SQL

**Exercise 5: Create a markdown cell to list data Science Libraries**

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:

 **Order List**
    1. Pandas
    2. Numpsy
    3. Scipy
    4. Matplotlib

**Exercise 6: Create a markdown cell with a table of Data Science Tools**

Create a single column table in this cell with the first row containing the header Data Science Tools

# Data Science Tools

|Data Management| Data intergration and Transformation|Data Visualization|
| -------------- | -------------- | -------------- |
| MySQL and PostSQL | Apache Airflow | Kibana |
| MongoDB | Kuberflow | Apacher Superset |
| Apache Couch DB | Apache Kafka | Dust |
| Apache Cassandra | Apache Nifi | Pixie dust |

**Exercise 7: Create a code cell introducing arithmetics expression examples**

Add a line in this cell with H3 style Heading with text like:

### H3: Below are a few examples of evaluating arithmetics expression in python

**Exercise 8: Create a code cell to multiply and add numbers**

This is a simple arithmetic expression to multiply then add intergers

In [2]:
(3*4)+5

17

**Exercise 9: Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by dividing by 60

In [5]:
200/60

3.3333333333333335

**Exercise 10: Insert markdown cell to list objectives**

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an Unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science

**Exercise 11: Create a markdown cell to indicate the Author's name**

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## H2: Author

Elegbede Adewunmi Victoria

**Exercise 12: Share your notebook through GitHub**

Upload your notebook to a public respository on **GitHub**

**Exercise 13: Take a screenshot of the first page of the notebook and save it as 1-notebook.png**